/* nav a.nav-link{
    font-weight: 500;
    cursor: pointer;
    border: .0375rem solid black !important;
    background-color: blueviolet !important;
} */

/* nav li.nav-item{
    /* border: solid black .0375rem !important; */


/* } */ 